.body{
    background-color: aliceblue;
    
}

.personal{
    margin-left: 100px;
}

.personal#first{
    text-align: left;
    float: left;
    
}
.personal#second{
    align-items: center;
    margin: auto;
}
.h2{
    text-align: center;
}
.AboutMe{
    width: 350px;
    height: 523px;
    margin: 20px;
    flex-direction: row;
    float: left;
}

.AboutMe#one{
    margin-left: 150px;
    width: 350px;
    height: 523px;
    float:left;
    clear: none;
}

.AboutMe#two{
    margin-right: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 500px;
    height: 523px;
}

.JobDetails{
    width: 350px;
    height: 200px;
    border: 2px solid black;
    text-align: center;
    float: left;
    flex-direction: row;
    margin: 20px;
    align-items: left;
    justify-items: center;
    
}
.JobDetails#img{
    float: left;

}